spring:
  application:
    name: auth-server
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5432/auth_server
server:
  port: 9000