<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="form-container">
    <form method="post" th:action="@{/login}">
        <!--    Spring Security requires that field be "username"-->
        <h1>Вход</h1>
        <label for="username" style="display: block">Email</label>
        <input type="text" id="username" name="username" required autofocus>
        <label for="password" style="display:block;">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" style="display: block">Send</button>
    </form>
</div>
</body>
</html>